// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.5 + .25s * $delay) both;
}
#body-home #header {
  overflow: hidden;
  .box--1 .image      { @include show-from(0); --show-from: scale(3); }
  .box--1 .box__title { @include show-from(1); }
  .box--1 .md p       { @include show-from(2); }
  .box--2             { @include show-from(3); }
}
#noticias {
  max-width: 328px;
  iframe {
    height: 512px;
  }
}
