// Header 
@mixin show-from($delay) {
  animation: show-from .5s (.5 + .25s * $delay) both;
}
#body-home #header {
  overflow: hidden;
  .box--1 .img        { @include show-from(0); --show-from: scale(3); }
  .box--1 .box__title { @include show-from(1); }
  .box--1 .md p       { @include show-from(2); }
  .box--2             { @include show-from(3); }
}
#noticias {
  max-width: 328px;
  .box__md,
  iframe {
    height: var(--noticias-height, 512px);
    max-height: 1079px;
  }
  @media (min-width: $viewport-lg) {
    --noticias-height: 100%;
  }
}
#body-grupo #header {
  .faq__btn {
    grid-template-columns: auto auto;
    justify-content: center;
  }
  .faq__icon {
    display: none;
  }
}
